header, .gzECfY {
    justify-content: unset !important;
    padding: unset !important;
}

p {
    margin-top: unset;
    margin-bottom: unset;
    padding: 8px;
}
.table-title {
    font-weight: 400;
    font-size: 20px;
}

.text-field {
    width: 100%;
}

div {
    .css-aq4hl-MuiInputBase-root-MuiOutlinedInput-root {
        display: block !important;
        padding: 8px;
    }
}

.row>* {
    width: unset !important;
}